body{
	background-color: white;
	color:blue;
	font-family: 'Quicksand', sans-serif;
	text-align: center;

}
h1{
	color: red;
	font-family: 'Quicksand', sans-serif;


}
h2{
	color: yellow;
	font-family: 'Quicksand', sans-serif;
}

a{
	color: red;
	text-decoration: none;
}




.white-card {
    background-color: white;
    padding: 25px;
    margin: 50px;
    text-align: center;
    border: 3px solid;
    box-shadow: 18px 18px 2px 1px blue;
}

.yellow-filter {
	background-image: linear-gradient(0deg, rgba(255, 255, 0, 0.7) 0%, rgba(255, 255, 0, 0.7) 50%), url("images/evolena.jpg");
	background-size: cover;
	width: 200px;
	height: 200px;
	margin: auto;

}

.container{
	width: 850px;
	margin:0 auto;
}

.list-inline{
	padding-left: 0;
	list-style: none;
}

.list-inline li{
	display: inline;
	font-size: 50px
}

@media (max-width: 855px) {
	.container{
		width: 650px
	}
}

@media (max-width: 650px){
	.container{
		width: 450px
	}
}

